body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ec9b1a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar {
  background-color: #003366;
  color: #ec9b1a;
  padding: 20px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
}

.sidebar-icon {
  margin: 20px 0;
  cursor: pointer;
}

.main-content-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin-left: 100px;
  padding: 20px;
  box-sizing: border-box;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  color: #003366;
  text-align: center;
  margin: 20px 0;
}
