.profile-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 50px;
	overflow-y: auto;
	width: 100%;
}

.profile-info {
	background-color: #003366;
	color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

.profile-info h2 {
	text-align: center;
}

.profile-info p {
	margin: 10px 0;
}

.profile-info input,
.profile-info select {
  color: black;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}